* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'News Cycle', sans-serif;
    font-size: 16px;
    padding: 20px;
    background: #f5f5f5;
}

img {
width: 150px;
float: left;
margin-right: 20px;
margin-top: 15px;
}

h1 {
color: #0974b3;
font-size: 2rem;
 margin-bottom: 10px;
}

article {
width: 950px;
margin: 30px;
padding: 30px;
line-height: 20px;
border-top: 5px solid #0974b3;
background: white;
float: left;
}

span {
    font-style: italic;
    display: block;
    margin-bottom: 20px;
}

a { 
    position: relative;
    float: left;
    top: 10px; 
}

div {
    text-align:left;
    color: #666;

}

article:nth-last-of-type(2) {
width: 440px;
}

article:nth-last-of-type(3n+ 1) {
width: 440px;
 } 